In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [4]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylist:
    if num %2 == 0:
        print(f'Even number {num}')
    else:
        print(f'Odd number {num}')

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10

In [30]:
list_sum = 0 

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [32]:
mystring = 'Hello World'
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [34]:
tup = (1,2,3)

for num in tup:
    print(num)

1
2
3

In [36]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [38]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [41]:
for af,bs in mylist:
    print(af)

1
3
5
7

In [51]:
d = {'k1':1,'k2':2,'k3':3}       #.values for the values

for key in d.values():
    print(key)

1
2
3

In [53]:
d = {'k1':1,'k2':2,'k3':3}

for key in d.items():       #.items for the keys and values
    print(key)

('k1', 1)
('k2', 2)
('k3', 3)

In [54]:
d = {'k1':1,'k2':2,'k3':3}       

for key in d:        #d for the keys
    print(key)

k1
k2
k3