In [2]:
mylist = [1,2,3]

In [3]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
list(range(0,11,2))    #make this range into a list with list()

[0, 2, 4, 6, 8, 10]

In [12]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [1]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [3]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
word = 'abcde'

for index_count,letter in enumerate(word):# enumerate returns not only the characters in your itterable objects, also returns index numbers
    print(index_count)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [18]:
mylist1= [1,2,3]
mylist2= ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [19]:
'x' in [1,2,3]

False

In [21]:
'x' in ['x','y','z']

True

In [23]:
'a' in 'pineapple'

True

In [27]:
'mykey' in {'mykey':345}

True

In [34]:
d = {'mykey':345}
345 in d.values()

True

In [36]:
d = {'mykey':345}
345 in d.keys()

False

In [37]:
mylist = [10,20,30,40,100]

In [38]:
min(mylist)

10

In [39]:
max(mylist)

100

In [40]:
from random import shuffle

In [41]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [44]:
shuffle(mylist)

In [45]:
mylist

[2, 5, 3, 9, 4, 8, 6, 1, 7, 10]

In [46]:
from random import randint

In [48]:
randint(0,100)

31

In [49]:
mynum = randint(0,100)

In [50]:
mynum

24

In [13]:
input('Enter a number here ')

Enter a number here 50

'50'

In [3]:
result = input('What is your name ')

What is your name Jose

In [4]:
result

'Jose'